 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Select instance - PokeTube</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>:root{--bg-primary: #fcf5f4;--bg-secondary: #e9e1df;--bg-tertiary: #cec8c6;--fg-header: #000;--fg-primary: #181818;--fg-dim: #646464;--fg-link: #2664b5;--edge-mark: #aaa;--edge-table: #333}@media(prefers-color-scheme: dark){:root{--bg-primary: #232323;--bg-secondary: #191919;--bg-tertiary: #383838;--fg-header: #fff;--fg-primary: #d9d9d9;--fg-dim: #828282;--fg-link: #529ef5;--edge-mark: #555;--edge-table: #aaa}}body{background-color:var(--bg-primary);color:var(--fg-primary);font-size:20px;margin:0;padding:8px;font-family:sans-serif}a,a:visited{color:var(--fg-link)}noscript{display:block}mark{background-color:var(--bg-tertiary);color:var(--fg-primary);padding:3px 5px;border-radius:4px;border:1px solid var(--edge-mark)}table,td,th{border:1px solid var(--edge-table);border-collapse:collapse}td,th{padding:4px 8px}thead,tr:nth-child(even){background-color:var(--bg-secondary)}footer{font-size:16px;text-align:center;max-width:500px;margin:40px auto}.banner{display:grid;grid-gap:24px;align-items:center;justify-items:center;justify-content:center;padding:20px}@media screen and (min-width: 520px){.banner{grid-template-columns:80px auto}}.banner .logo{width:80px;height:80px;background-size:contain;background-image:url(/static/img/invidious-logo-light.svg?static=25c5cd3acc)}@media(prefers-color-scheme: dark){.banner .logo{background-image:url(/static/img/invidious-logo-dark.svg?static=aa528cbad6)}}.banner h1{color:var(--fg-header);font-size:56px;font-weight:bold;text-transform:uppercase;margin:0;padding:0}.story{margin:40px 0px;text-align:center}@media screen and (min-width: 520px){.story{white-space:pre-line}}.instances-table,.js-license-table{display:flex;justify-content:center}.instances-table table,.js-license-table table{width:100%;max-width:700px}.instances-list{text-align:center}.instances-list .list{margin:0 auto;padding-left:1em;text-align:left;max-width:max-content}.loading-td{text-align:center;padding:20px;background-color:var(--bg-secondary)}.column-center{text-align:center}.health-unknown{color:var(--fg-dim)}.script-warning{margin:0 auto;max-width:max-content;background:#700;color:#fff;padding:4px 20px;border-radius:8px;border:1px solid}.footer-link-list{margin:0;padding:0;justify-content:center;display:flex;list-style-type:none;white-space:pre-wrap;flex-wrap:wrap}.footer-link-list li:not(:first-child)::before{content:" • ";display:inline}</style>
 <style>
   img  {
     transform: scale(1.3);
width: 18.5em;
margin-top: 4em;
   }
   a {
       margin-left: auto;
  margin-right: auto;
}
   p {
     display: flex;
   }
   
   table, td, th {
  border-collapse: collapse;
  margin-top: -1em;
}
   
 
    </style>
        <link href="https://poketube.fun/css/yt-ukraine.svg" rel="icon" />
  </head>
  <body>
    
    <header class="banner">
     <img src="https://poketube.fun/css/logo.svg?v=5">
    </header>
   
    <div class="story">
   To see this content, select an instance, <br><% if (!v) { %>  <% if (!query) { %>  <% if (!id) { %>  <% if (!tab) { %>  <a href="https://youtube.com/<%- param %>"> or see directly on YouTube</a><% } %>      <% } %> <% } %><% } %> <% if (v) { %>      <a href="https://youtube.com/<%- param %>?v=<%- v %>"> or see directly on YouTube</a> <% } %> <% if (id) { %>  
<a href="https://youtube.com/<%- param %>/<%- id %>"> or see directly on YouTube</a> <% } %> <% if (query) { %>  
<a href="https://www.youtube.com/results?search_query=<% query %>"> or see directly on YouTube</a><% } %></div>
    <div class="instances-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Domain</th>
             <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="instances-tbody" style="margin-top: -12em;">
        <% t.forEach(x => { %>
  <tr>
  <td><%- x.toString().replace(",[object Object]", " ") %></td>
  <td   style="margin-top: -12em;" class="column-center">
                   <% if (!v) { %>  
                                        <% if (!query) { %>  
                                        <% if (!id) { %>  
                                        <% if (!tab) { %>  


                                   <a href="https://<%- x.toString().replace(",[object Object]", "") %>/<%- param %>?v=<%- v %>">Go →</a>           

      <% } %>      <% } %>
      <% } %>
      <% } %>

               <% if (v) { %>  
                                   <a href="https://<%- x.toString().replace(",[object Object]", "") %>/<%- param %>?v=<%- v %>">Go →</a>           
  <% } %>
    
    
               <% if (query) { %>  
                                   <a href="https://<%- x.toString().replace(",[object Object]", "") %>/<%- param %>?query=<%- query %>">Go →</a>           
  <% } %>
    
         <% if (id) { %>  
                                   <a href="https://<%- x.toString().replace(",[object Object]", "") %>/<%- param %>?id=<%- id %>">Go →</a>           
  <% } %>
         <% if (tab) { %>  
                                   <a href="https://<%- x.toString().replace(",[object Object]", "") %>/<%- param %>?tab=<%- tab %>">Go →</a>           
  <% } %>
  </td>
</tr>
         <% }) %>   

        </tbody>
      </table>
           
    </div>
    
    <p>
                 <a href="https://github.com/ashley0143/poketube-redirect">source code of the website</a>

    </p>
    
 <audio loop autoplay src="https://cdn.glitch.global/091bd5d6-c087-4a9a-ba0a-4a7b3af7ebdb/music.webm?v=1694844058164"></audio>
    
  <script>
  function fetchUrls(urls) {
  let fetchedCount = 0;

  urls.forEach(link => {
    const url = new URL(link.href);
    if (url.host !== 'www.youtube.com' && url.host !== 'youtube.com' && url.host !== "redirect.poketube.fun") {
      console.log(`Fetching ${url.origin}`);
      fetch(url.href)
        .then(response => {
          if (response.status === 500) {
            // do nothing
          }
          console.log(`Fetched ${url.origin}`);
          fetchedCount++;
          console.clear();
          if (fetchedCount === urls.length) {
            document.body.classList.remove('blur');
          }
        })
        .catch(error => {
          console.clear();
          if (!(error instanceof TypeError && error.message.includes('Failed to fetch'))) {
            console.error(`Error fetching ${url.origin}: ${error}`);
          }
        });
    }
  });
}
    
const urls = document.querySelectorAll('a[href*="/watch?v="]');
fetchUrls(urls);

  </script>
  </body>
</html>
